upstream rove_hire_web {
  server 127.0.0.1:${WEB_HOST_PORT};
  keepalive 16;
}

upstream rove_hire_api {
  server 127.0.0.1:${API_HOST_PORT};
  keepalive 16;
}

map $http_x_forwarded_proto $rove_forwarded_proto {
  default $http_x_forwarded_proto;
  ''      $scheme;
}
