# PostgreSQL connection string
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rove_hire?schema=public"

JWT_SECRET="change-me-in-production"
FRONTEND_URL="http://localhost:3000"

S3_BUCKET_NAME="your-bucket-name"
AWS_REGION="us-east-1"

AWS_ACCESS_KEY_ID="your-aws-access-key-id"
AWS_SECRET_ACCESS_KEY="your-aws-secret-access-key"
